.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  margin: 0;
  padding: auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url("../images/like-icon.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../images/heart-filled.svg");
}

.card__like-button:hover {
  opacity: 50%;
}

.card__delete-button {
  background: transparent url("../images/trash-icon.svg") center no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  position: absolute;
  right: 15px;
  top: 18px;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 60%;
}
