.modal {
  position: fixed;
  padding: 0 19px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s linear, opacity 0.5s linear;
}

.modal__opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  padding: 34px 36px 36px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0;
}

.modal__close {
  position: absolute;
  bottom: calc(100% + 6px);
  right: -45px;
  background: transparent url("../images/close-icon.svg") center no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  margin: 0;
  padding-bottom: 54px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  position: relative;
  display: block;
  padding: 38px 0 0;
  margin: 0;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 27px;
}

.modal__input-error {
  border-bottom-color: #f00;
}

.modal__error {
  color: #f00;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  transition: opacity 0.3s;
  opacity: 0;
  margin-bottom: 5px;
}

.modal__button {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background-color: #000;
  width: 358px;
  height: 50px;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 48px;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__button_disabled {
  background-color: #fff;
  cursor: default;
  color: #808080;
  opacity: 0.2;
}

.modal__button_disabled:hover {
  opacity: 0.2;
}

.modal__image-container {
  padding: 0;
  background: transparent;
  margin: 90px auto 68px;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__caption {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
}

.modal__error_visible {
  display: block;
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 630px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__close {
    right: 0;
  }

  .modal__button {
    width: 238px;
    height: 46px;
  }
}
